html{
    background:url(https://source.unsplash.com/76dgUcMupv4/1920x1080) center center fixed;
    background-size: cover;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
}
.title {
    color: rgb(249, 177, 177);
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}

.scoreboard {
    color: rgb(255, 255, 255);
    transition:transform 0.5s;
}
.players {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.player h2 {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(2, 2, 2);
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.score {
    font-size: 50px;
    margin-top: 2px;
}

.panels {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    gap: 40px
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition:transform 0.5s;
}

.panels img {
    height: 200px;
    width: 200px;
    background-color: transparent;
}
.rock { background-image:url(https://source.unsplash.com/ctWw2S9VqOI/1000x1000); }
.paper { background-image:url(https://source.unsplash.com/MldQeWmF2_g/1000x1000); }
.scissors { background-image:url(https://source.unsplash.com/SmocKx2oDZc/1000x1000); }
.tie{background-image:url(https://source.unsplash.com/DJ4vjcD0s0I/1000x1000);}
.you{background-image:url(https://source.unsplash.com/S0txA-JnUFA/1000x1000);}
.tiger{background-image:url(https://source.unsplash.com/anLG38v5l0g/1000x1000);}

.panel p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(2, 2, 2);
    font-size: 50px;
}

.hidden-winner {
    width: 0vh;
    height: 0vh;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width .65s, height.65s;
}

.winner-active{
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width .65s, height.65s;
}

.fly-up p{
    transform: translateY(-500%);
}

.winner-active p {
    color: rgb(200, 0, 170);
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: translateY(0%);
    transition: transform .6s;
    animation: fade-in .5s;
}


@keyframes fade-in {
    0%{opacity: 0;}
    100% {opacity: 1;}
}
.loser {
    transform:translateY(500%); 
}

.intermission {
    transform: translateY(-500%);
    overflow: hidden;
}